/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@300;400;500&display=swap');

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-black: #0C0C0C;
    --color-lightpurple: #F2F0FF;
    --color-lightgrey: #F3F6F9;
    --color-grey: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */

p {
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-weight: 300;
}
h3 {
    font-weight: 400;
}



/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

button {
    background-color: var(--color-pink);
    color: white;
    font-size: 20px;
    padding: 30px 45px;
    border-radius: 50px;
    text-transform: uppercase;
    border: none;
}

a {
    text-decoration: none;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    display: flex;
    flex-direction: column;
    height: 880px;
}

nav {
    padding: 36px 70px;
}

li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 25px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 67px;
}

.header-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 405px;
    height: 100%;
    position: relative;
    border: 2px dashed pink;
}

.header-h1 {
    padding: 100px 0 40px 0;
    font-size: 60px;
    text-align: center;
    color: white;
}

.header-p {
    color: white;
    font-size: 35px;
    font-weight: 300;
}

.header-inner-container button {
    margin: 35px
}

.header-img {
    position: absolute;
    bottom: 0;
}


/* --------------- 4.2 Introduction ------------------- */

.introduction {
    border: 2px dashed red;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
    margin: 0px 405px;
    height: 810px;
    text-align: center;
    position: relative;
    padding-bottom: 60px;
    padding-top: 55px;
}

.introduction h2 {
    border: green dashed 2px;
    color: var(--color-purple);
    font-size: 40px;
}
.headings-intro {
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.introduction p {
    border: 2px solid blue;

    font-size: 25px;
}



/* ------------------------------- 5. Media Queries -------------------------------- */